<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs'); %>
    <h1>sign Up Page</h1>
    <form action='/add-user' method="POST">
        <label for='username'>Enter Your Name</label>
        <input type='text' name='username' id='username'>
        <button type='submit'>Sign Up</button>
    </form>
<%- include('includes/end.ejs'); %>